body { text-align: center; }

* { font-family: 'Arvo', serif; }

.jumbotron { background: none; padding-bottom: 3em; padding-top: 6em; max-width: 60em; margin: auto; }

.jumbotron p { text-align: center; padding-bottom: 1em; }

.jumbotron .lead, .jumbotron a { text-align: left; font-family: 'Cabin', sans-serif; }

.jumbotron a { color: #A4A4A4; }

.resume { padding-top: 7em; }

.resume .lead a { font-family: 'Cabin', sans-serif; font-size: x-large; }

a { color: inherit; } 

.closing { padding-top: 10em;}

@media (max-width: 768px) { .jumbotron .lead { text-align: center; } } 

@media (max-width: 550px) {  .jumbotron { padding-top: 1em; } li { display: inline-block; padding: 0.5em; } }