body { text-align: center; }

* { font-family: "Raleway"; }

.container { margin: auto; height: 100%; width: 100%; }

.headshot { margin: auto; width: 200px; height: 200px; background: url("headshot_cropped.png"); background-size: cover; display: block; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; }

.jumbotron { height: 100%; width: 100%; background: none; max-width: 60em; margin: auto; }

.jumbotron h2 { padding-bottom: 0.5em; }

.jumbotron p { text-align: left; padding-bottom: 1em; margin: auto; padding-left: 1em; }

.container-icon { margin: auto; height:100%; width:100%; }

.jumbotron a:hover, .jumbotron a:visited, .jumbotron a:active, .jumbotron a:link { text-decoration: none; border-bottom: none; color: #009fff; }

.jumbotron a { color: #009fff; opacity: 1; transition: opacity .15s ease-in-out; -moz-transition: opacity .15s ease-in-out; -webkit-transition: opacity .15s ease-in-out; }

.jumbotron a:hover { opacity: 0.5; }

@media (max-width: 768px) { .jumbotron .lead { text-align: center; } .jumbotron p { padding-left: none; } }